<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Color Picker</title>

    <link href="https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&display=swap" rel="stylesheet">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    <environment include="Production">
        <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true"/>
    </environment>
    @RenderSection("CSS", required: false)
</head>
<body>
    <header>
        <nav>
            <img src="~/images/logo-symbol.svg" alt="logo" style="width:50px;height:auto;" />
            <div id="searchBarContainer">
                <label for="searchBar" style="display:none">Search</label>
                <input id="searchBar" placeholder="Search" />
            </div>
        </nav>
    </header>
    <div id="mainContainer">
        <div id="menu">
            <form asp-controller="Home" asp-action="Random">
                <button id="randomColorBtn" type="submit">Random Color</button>
            </form>
            <div id="colorNameList">
                <ul>
                    <li><a class="colorGroupBtn" data-color="red" asp-controller="Home" asp-action="Index" asp-route-colorGroup="red">Red</a></li>
                    <li><a class="colorGroupBtn" data-color="orange" asp-controller="Home" asp-action="Index" asp-route-colorGroup="orange">Orange</a></li>
                    <li><a class="colorGroupBtn" data-color="yellow" asp-controller="Home" asp-action="Index" asp-route-colorGroup="yellow">Yellow</a></li>
                    <li><a class="colorGroupBtn" data-color="green" asp-controller="Home" asp-action="Index" asp-route-colorGroup="green">Green</a></li>
                    <li><a class="colorGroupBtn" data-color="blue" asp-controller="Home" asp-action="Index" asp-route-colorGroup="blue">Blue</a></li>
                    <li><a class="colorGroupBtn" data-color="purple" asp-controller="Home" asp-action="Index" asp-route-colorGroup="purple">Purple</a></li>
                    <li><a class="colorGroupBtn" data-color="brown" asp-controller="Home" asp-action="Index" asp-route-colorGroup="brown">Brown</a></li>
                    <li><a class="colorGroupBtn" data-color="gray" asp-controller="Home" asp-action="Index" asp-route-colorGroup="gray">Gray</a></li>
                    <li style="margin-top:20px;"><a id="clearBtn" asp-controller="Home" asp-action="Index" style="display:none;">Clear</a></li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
    </div>


            <environment include="Development">
                <script src="~/lib/jquery/dist/jquery.js"></script>
                <script src="~/lib/jquery/ui/jquery-ui.min.js"></script>
                <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
                <script src="~/js/site.js"></script>
            </environment>
            <environment include="Production">
                <script src="~/js/site.min.js" asp-append-version="true"></script>
            </environment>
            @RenderSection("Scripts", required: false)
</body>
</html>
